 /* ------------ nav-container  -------------------- */
Nav{ 
    height: 62px;
    padding: .3rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
}
/* ------------ when active -------------- */
